################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_x64

/.idea
.vs/jynew/v16/Browse.VC.db
.vs/jynew/v16/Browse.VC.db-shm
.vs/jynew/v16/Browse.VC.db-wal
.vs/jynew/v16/Browse.VC.opendb
.vs/slnx.sqlite
