################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_x64

/.idea
/jyx2/Assets/Mods/jytest
/jyx2/Assets/Mods/jytest.meta
