<?xml version="1.0" encoding="utf-8"?>
<connecter>
  <workspace>
    <fileVersion>1.1</fileVersion>
    <settings>
      <setting key="2001">D:\jyx\svn\trunk\art\RoleModels\外包交付20210424\20210419</setting>
      <setting key="2002"></setting>
      <setting key="2003">ShowMissingItems</setting>
    </settings>
  </workspace>
</connecter>