<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>taptap</key>
        <dict>
            <key>client_id</key>
            <string>uZ8Yy6cSXVOR6AMRPj</string>
        </dict>

        <key>NSPhotoLibraryUsageDescription</key>
        <string>App需要您的同意,才能访问相册</string>
        <key>NSCameraUsageDescription</key>
        <string>App需要您的同意,才能访问相机</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>App需要您的同意,才能访问麦克风</string>
        <key>NSUserTrackingUsageDescription</key>
        <string>App需要追踪你的信息</string>

        <key>isRND</key>
        <false/>
    </dict>
</plist>

